.wrapper{
    max-width: 100%;
    background: rgb(255, 0, 0);
    height: 40px;
    text-align: right;
}

.marquee {
    background: rgb(255, 0, 0);
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
}

h2{
color: rgb(255, 0, 0);

}

h5{
text-align: center;

}


#borderDemo {
    border: 12px double rgba(255,0,0,0.37);
    border-radius: 40px 40px 40px 40px;
    }


#borduredemo{
border: 12px double rgba(255,0,0,0.37);
border-radius: 40px 40px 40px 40px;

}